@let currentValue = value();
<mat-form-field appearance="outline" class="search-field" style="width: 100%">
  <mat-label>Search persons &amp; organisations</mat-label>
  <mat-icon matPrefix>search</mat-icon>
  <input
    matInput
    [value]="displayFn(currentValue)"
    (input)="value.set($event.target.value)"
    (blur)="touch.emit()"
    [matAutocomplete]="auto"
    placeholder="Type a name…"
  />
  <button matIconButton matSuffix type="button" (click)="showPersons.set(!showPersons())">
    <mat-icon>{{ showPersons() ? "person" : "person_off" }}</mat-icon>
  </button>
  <button matIconButton matSuffix type="button" (click)="showOrgs.set(!showOrgs())">
    <mat-icon>{{ showOrgs() ? "mail" : "mail_off" }}</mat-icon>
  </button>

  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="value.set($event.option.value)"
  >
    @for (item of searchResults(); track item) {
      <mat-option [value]="item">
        <mat-icon class="entity-icon">{{ item.$type === "mail" ? "mail" : "person" }}</mat-icon>
        <span class="entity-label">{{ item.label }}</span>
      </mat-option>
    }

    @if (typeof currentValue === "string") {
      <mat-option (onSelectionChange)="openDialog()" value="">
        Neuen Eintrag für "{{ currentValue }}" anlegen...
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
