<table>
  <ng-container *ngFor="let field of fields">
    <tr
      *ngIf="field.$type === 'entity-edit-field'"
      entity-rule-set-field-edit
      [entity]="field.entity"
      [key]="field.key"
      [showKey]="field.showKey"
      [ruleSet]="ruleSet"
      [schema]="field.propertySchema"
      [primarySource$]="field.primarySource$"
      (ruleSetChanged)="onValueRuleSetChanged(field.key, $event)"
    ></tr>
    <tr
      *ngIf="field.$type === 'rule-set-edit-field'"
      add-value-rule-set-field-edit
      [key]="field.key"
      [showKey]="field.showKey"
      [schema]="field.propertySchema"
      [ruleSet]="ruleSet"
      (ruleSetChanged)="onValueRuleSetChanged(field.key, $event)"
    ></tr>
  </ng-container>
</table>
