@use "@fontsource/roboto/300" as *;
@use "@fontsource/roboto/400" as *;
@use "@fontsource/roboto/500" as *;
@use "@fontsource/material-icons" as *;

// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
@use "@angular/material" as mat;

// Initialize core styles
@include mat.core();

// Define typography (shared for both modes)
$my-typography: (
  brand-family: 'Roboto, "Helvetica Neue", sans-serif',
  plain-family: 'Roboto, "Helvetica Neue", sans-serif',
);

// define the themes
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: $my-typography,
    density: (
      scale: 0,
    ),
  )
);
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: $my-typography,
    density: (
      scale: 0,
    ),
  )
);

// Setup box-sizing for easier layout management
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Apply styles globally
html {
  // Default to Light Theme
  @include mat.all-component-themes($light-theme);
  @include mat.typography-hierarchy($light-theme);

  // Apply Dark Theme when the class is present
  &.dark-mode {
    @include mat.all-component-colors($dark-theme);
  }

  margin: 0;
  height: 100vh;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
}

body {
  margin: 0;
}

// reset user agent styles for links
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

// include material icons
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}
