:root {
  --mat-sys-primary: rgb(0 71 140);
  --mat-sys-surface-tint: rgb(0 93 182);
  --mat-sys-on-primary: rgb(255 255 255);
  --mat-sys-primary-container: rgb(0 94 183);
  --mat-sys-on-primary-container: rgb(200 218 255);
  --mat-sys-secondary: rgb(0 19 42);
  --mat-sys-on-secondary: rgb(255 255 255);
  --mat-sys-secondary-container: rgb(3 40 76);
  --mat-sys-on-secondary-container: rgb(116 144 186);
  --mat-sys-tertiary: rgb(98 57 117);
  --mat-sys-on-tertiary: rgb(255 255 255);
  --mat-sys-tertiary-container: rgb(124 81 143);
  --mat-sys-on-tertiary-container: rgb(245 211 255);
  --mat-sys-error: rgb(186 26 26);
  --mat-sys-on-error: rgb(255 255 255);
  --mat-sys-error-container: rgb(255 218 214);
  --mat-sys-on-error-container: rgb(147 0 10);
  --mat-sys-background: rgb(249 249 255);
  --mat-sys-on-background: rgb(25 28 33);
  --mat-sys-surface: rgb(252 249 249);
  --mat-sys-on-surface: rgb(27 27 28);
  --mat-sys-surface-variant: rgb(222 226 240);
  --mat-sys-on-surface-variant: rgb(66 71 82);
  --mat-sys-outline: rgb(114 119 131);
  --mat-sys-outline-variant: rgb(194 198 212);
  --mat-sys-shadow: rgb(0 0 0);
  --mat-sys-scrim: rgb(0 0 0);
  --mat-sys-inverse-surface: rgb(48 48 49);
  --mat-sys-inverse-on-surface: rgb(243 240 240);
  --mat-sys-inverse-primary: rgb(169 199 255);
  --mat-sys-primary-fixed: rgb(214 227 255);
  --mat-sys-on-primary-fixed: rgb(0 27 61);
  --mat-sys-primary-fixed-dim: rgb(169 199 255);
  --mat-sys-on-primary-fixed-variant: rgb(0 70 139);
  --mat-sys-secondary-fixed: rgb(212 227 255);
  --mat-sys-on-secondary-fixed: rgb(0 28 57);
  --mat-sys-secondary-fixed-dim: rgb(171 200 245);
  --mat-sys-on-secondary-fixed-variant: rgb(43 72 109);
  --mat-sys-tertiary-fixed: rgb(247 216 255);
  --mat-sys-on-tertiary-fixed: rgb(47 5 67);
  --mat-sys-tertiary-fixed-dim: rgb(231 180 250);
  --mat-sys-on-tertiary-fixed-variant: rgb(95 54 114);
  --mat-sys-surface-dim: rgb(220 217 217);
  --mat-sys-surface-bright: rgb(252 249 249);
  --mat-sys-surface-container-lowest: rgb(255 255 255);
  --mat-sys-surface-container-low: rgb(246 243 243);
  --mat-sys-surface-container: rgb(240 237 237);
  --mat-sys-surface-container-high: rgb(234 231 231);
  --mat-sys-surface-container-highest: rgb(229 226 226);
}
