@use "@angular/material" as mat;
@use "sass:map";

@mixin home-page($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");
  .home-page {
    .column-layout {
      display: flex;
      flex-direction: row;

      > * {
        flex: 1;
      }
    }

    .hero-box {
      background-color: mat.get-color-from-palette($accent-palette, 400);
      color: mat.get-color-from-palette(mat.$grey-palette, 100);
      user-select: none;
      width: 100%;

      .hero-title {
        margin: 0;
        padding: 1em 1em 0.5em;
        text-align: center;
        font-size: 2.5em;
        font-weight: 300;
        letter-spacing: 0.02em;
        text-shadow: 2px 2px 2px mat.get-color-from-palette($primary-palette, 700);
      }

      .hero-text {
        padding: 0 25%;
        font-weight: lighter;
        line-height: 1.5em;
      }

      .hero-form {
        padding: 1em 25%;
      }

      .hero-field {
        width: 100%;
      }
    }
  }
}
