.entity-search-component {
  display: flex;
  flex-direction: column;
  height: 100%;

  .query-container {
    display: flex;

    .no-entity-filter-hack {
      position: relative;
      top: 0.66em;
      margin-right: 0.66em;
    }

    .search-field {
      min-width: 50%;
      max-width: 75%;
      margin: 0 auto;
    }
  }

  .result-container {
    display: flex;
    flex-direction: column;

    min-height: 0;
    max-height: calc(100% - 78px);
    overflow: auto;
    flex: 1;

    app-merged-entity-list {
      flex: 1;
      max-height: calc(100% - 56px);
      overflow: auto;
    }
  }

  .loading-item-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
