<td class="auto">
  <div *ngIf="showKey" class="text-col-content">{{ key }}</div>
</td>
<td class="auto">
  <div class="source-name-container text-col-content">
    <div class="source-name">
      <ng-container *ngIf="primarySource$ | async as primarySource; else noPrimarySource">
        <app-merged-entity-display
          [entity]="primarySource"
          [hideIcon]="true"
          [hideAdditionalProperties]="true"
          [maxArrayItems]="2"
        ></app-merged-entity-display>
      </ng-container>
    </div>
    <mat-slide-toggle
      [checked]="isPrimarySourceBlocked"
      (change)="$event.checked ? blockPrimarySource() : unblockPrimarySource()"
    >
      sperren
    </mat-slide-toggle>
  </div>
</td>
<td class="fill">
  <formly-form *ngIf="formlyField" [fields]="[formlyField]" [model]="model" [options]="formlyOptions"> </formly-form>
</td>
<ng-template #noPrimarySource> Datenquelle konnte nicht geladen werden </ng-template>
