<div class="loading-merged-entity-component">
  <div class="icon" *ngIf="showIcon"></div>
  <div class="label-container">
    <div *ngIf="showTitle" class="title shimmer">
      <app-loading-label-fake clazz="title-word" [minWords]="3"></app-loading-label-fake>
    </div>
    <div *ngIf="showProperties" class="sub-title">
      <div class="label">
        <app-loading-label-fake [maxWidth]="75" [maxWords]="2" clazz="label-word"></app-loading-label-fake>
      </div>
      <div class="value shimmer">
        <app-loading-label-fake [maxWords]="3" clazz="value-word"></app-loading-label-fake>
      </div>
    </div>
    <div *ngIf="showProperties" class="sub-title">
      <div class="label">
        <app-loading-label-fake [maxWidth]="75" [maxWords]="2" clazz="label-word"></app-loading-label-fake>
      </div>
      <div class="value shimmer">
        <app-loading-label-fake [maxWords]="3" clazz="value-word"></app-loading-label-fake>
      </div>
    </div>
  </div>
</div>
