<div class="array-formly-field-container">
  <h3 *ngIf="!props['hideLabel'] && props.label">{{ props.label }}</h3>
  <p *ngIf="props.description">{{ props.description }}</p>

  <div class="array-item-container">
    <div class="array-item" *ngFor="let field of field.fieldGroup; let i = index">
      <formly-field class="array-item-value" [field]="field"></formly-field>
      <button
        *ngIf="!props.readonly"
        mat-icon-button
        class="array-item-remove-button"
        type="button"
        (click)="remove(i)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="fg-warn" role="alert" *ngIf="showError && formControl.errors">
    <formly-validation-message [field]="field"></formly-validation-message>
  </div>

  <button
    mat-raised-button
    *ngIf="!props.readonly"
    color="primary"
    class="array-item-add-button"
    type="button"
    (click)="add()"
  >
    Add
  </button>
</div>
