.array-formly-field-container {
  display: flex;
  flex-direction: column;

  .array-item-container {
    display: flex;
    flex-direction: column;
    max-height: 79px * 5; // Scroll after 5 elements
    overflow-y: auto;

    .array-item {
      display: flex;
      align-items: baseline;

      padding-bottom: 1px; // HACK: if not padding bottom set there will be a scrollbar (maybe cuz of the abs. positioned hint)

      .array-item-value {
        flex: 1;
      }
      .array-item-remove-button {
        margin-left: 16px;
        margin-top: 4px;
      }
    }
  }
}
