<h2>DEBUG Edit</h2>
<mat-tab-group
  *ngIf="entityEdits$ | async as entityEdits; else loading"
  [selectedIndex]="activeTabIndex$ | async"
  (selectedIndexChange)="updateTabQueryParam(entityEdits[$event].type)"
>
  <mat-tab *ngFor="let edit of entityEdits" [label]="edit.type | entityTypeLabel">
    <div *ngIf="edit.ruleAndEntities$ | async as ruleAndEntities; else loading">
      <div>StableTargetId: {{ ruleAndEntities.rule?.stableTargetId }}</div>
      <div>
        Entities:
        <ul>
          <li *ngFor="let entity of ruleAndEntities.entities ?? []">
            {{ entity.identifier }} (Source: {{ entity.hadPrimarySource }})
          </li>
        </ul>
      </div>

      <hr />

      <app-entities-rule-set-edit
        [entities]="ruleAndEntities.entities"
        [schema]="edit.schema"
        [ruleSet]="ruleAndEntities.rule"
      >
      </app-entities-rule-set-edit>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #loading> LADE... </ng-template>
