<form (submit)="onSubmit($event)" [formRoot]="resourceForm" style="width: 100%">
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Enter title" [formField]="resourceForm.title" />
    @for (error of resourceForm.title().errors(); track error) {
      <mat-error> {{ error.kind }} | {{ error.message }} </mat-error>
    }
  </mat-form-field>

  <div class="vertical-list">
    @for (contact of resourceForm.contacts; let i = $index; track i) {
      <div class="horizontal-list">
        <mex-contact-list [formField]="contact" style="flex: 1"></mex-contact-list>
        <button mat-button (click)="deleteContact(i)">x</button>
      </div>
    }
    <button mat-button (click)="addContact()">Add Contact</button>
  </div>

  <button type="submit">Submit</button>
</form>
