@use "@angular/material" as mat;
@use "sass:map";

@mixin app-component($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, "primary");
  $accent-palette: map.get($color-config, "accent");

  .app-component {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
      .nav-list {
        list-style-type: none;
        padding: 0;
      }

      .nav-item {
        display: inline-block;
      }

      .nav-link {
        text-decoration: none;
        user-select: none;
      }

      .nav-link.active {
        background-color: mat.get-color-from-palette($primary-palette, 900);
      }

      .nav-chip {
        font-size: x-small;
        height: 1em;
        padding: 2px 0 1px;
        background-color: mat.get-color-from-palette($accent-palette, 200) !important;
        color: mat.get-color-from-palette($primary-palette, 900);
        vertical-align: super;
        margin: 0 6px 0 -3px;

        user-select: none;
      }
    }

    main {
      flex: 1;
      min-width: 0;
    }

    footer {
      .footer-list {
        list-style-type: none;
        text-align: center;
      }

      .footer-item {
        display: inline-block;
        padding: 1em;
      }

      .footer-link {
        color: mat.get-color-from-palette(mat.$grey-palette, 500);
      }
    }
  }
}
