@let state = formState();
<div class="label">
  @if (showCategoryLabel()) {
    {{ labelKey() | transloco }} - {{ categoryKey() | transloco }}
  } @else {
    {{ labelKey() | transloco }}
  }
</div>
@let descKey = descriptionKey();
@if (descKey) {
  <div class="description">{{ descKey | transloco }}</div>
}

<ng-content></ng-content>

@if (state && state.touched()) {
  @let errors = state.errors();
  @if (errors && errors.length > 0) {
    <div class="error-container">
      @for (err of errors; track err.message) {
        <div class="error">{{ err.kind }} | {{ err.message }}</div>
      }
    </div>
  }
}
