@let state = formState();
<div class="label">
  @let label = labelKey() | transloco: labelParam() ?? {};
  @if (showCategoryLabel()) {
    {{ label }} - {{ categoryKey() | transloco }}
  } @else {
    {{ label }}
  }
</div>
@let descKey = descriptionKey();
@if (descKey) {
  <div class="description">{{ descKey | transloco }}</div>
}

<ng-content></ng-content>

@if (state && state.invalid() && (showErrorWithoutTouch() || state.touched())) {
  @let errors = state.errors();
  @if (errors && errors.length > 0) {
    <div class="error-container">
      @for (err of errors; track err.message) {
        <div class="error">
          <!-- @if (err.kind === "matDatepickerParse") {
            Invalid input. Format is xxx
          } @else {} -->
          {{
            err.message
              | transloco: { field: label, ...$any(err)?.issue, ...$any(err).issue?.params }
          }}
        </div>
      }
    </div>
  }
}
