@let state = formState();
<div class="label">
  @let label = labelKey() | transloco: labelParam() ?? {};
  @if (showCategoryLabel()) {
    {{ label }} - {{ categoryKey() | transloco }}
  } @else {
    {{ label }}
  }
</div>
@let descKey = descriptionKey();
@if (descKey) {
  <div class="description">{{ descKey | transloco }}</div>
}

<ng-content></ng-content>

@if (state && state.invalid() && (showErrorWithoutTouch() || state.touched())) {
  @let errors = state.errorSummary();
  @if (errors && errors.length > 0) {
    <div class="error-container">
      @for (err of errors; track $index) {
        <div class="error">
          <!-- @let errorKey = err.fieldTree().keyInParent();
          @let isInnerError = errorKey !== state.keyInParent(); -->
          @let errorFieldLabel = getErrorFieldLabel(state, err, label);
          <!-- isInnerError
              ? state.value() instanceof Array
                ? ("validation.innerArrayError" | transloco: { field: "", position: errorKey + 1 })
                : ("validation.innerObjectError" | transloco: { field: "", property: errorKey })
              : label; -->
          {{
            err.message
              | transloco
                : {
                    field: errorFieldLabel,
                    ...$any(err)?.issue,
                    ...$any(err).issue?.params,
                  }
          }}
        </div>
      }
    </div>
  }
}
