<div class="component-container">
  <div>{{ props.label }}</div>
  <div class="control-container">
    <mat-form-field>
      <mat-label>Feldtyp</mat-label>
      <mat-select [(ngModel)]="selectedMatcher">
        <mat-option *ngFor="let opt of props.stringFormatOptions.formatMatchers" [value]="opt">{{
          opt.label
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="value-container">
      <formly-field *ngIf="selectedField; else noFieldSelected" [field]="selectedField"></formly-field>
    </div>
  </div>
</div>

<ng-template #noFieldSelected> Bitte Feldtyp auswählen. </ng-template>
