@use "../variables.scss" as vars;

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: vars.$max-content-width;
  flex: 1;
}

footer {
  background-color: #03284c;
  color: #fff;
  padding: 12px;

  .footer-content {
    margin: 0 auto;
    width: 100%;
    max-width: vars.$max-content-width;

    display: flex;
  }
}

.mex-greetings {
  display: inline-flex;
  gap: 0.25em;

  margin-left: auto;

  .heart {
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: radial-gradient(circle at center, #ff5f6d, #b91d1d);
  }
}
