<input
  matInput
  [id]="id"
  [errorStateMatcher]="errorStateMatcher"
  [formControl]="formControl"
  [formlyAttributes]="field"
  [placeholder]="props.placeholder || ''"
  [tabindex]="props.tabindex"
  [readonly]="props.readonly"
  [required]="required"
  [class.hidden]="hideInput"
/>

<ng-container *ngIf="entityLoad$ | async as load">
  <app-merged-entity-display
    *ngIf="load.state === 'success'"
    [entity]="load.data"
    [hideAdditionalProperties]="true"
    [maxLines]="2"
  >
  </app-merged-entity-display>
</ng-container>

<ng-template #prefixButton>
  <ng-container *ngIf="entityLoad$ | async as load">
    <div *ngIf="load.state === 'pending'">
      <app-loading text="Lade..." [inline]="true" [hideText]="true"></app-loading>
    </div>
    <mat-icon *ngIf="load.state === 'error'" class="fg-warn" [title]="'Fehler beim Laden!\n' + (load.error | json)"
      >error</mat-icon
    >
  </ng-container>
</ng-template>

<ng-template #suffixButton>
  <ng-container *ngIf="entityLoad$ | async as load">
    <button
      mat-icon-button
      *ngIf="!props.readonly && load.state === 'success'"
      (click)="formControl.patchValue('')"
      title="Löschen"
    >
      <mat-icon>close</mat-icon>
    </button>
  </ng-container>
  <button *ngIf="!props.readonly" mat-icon-button (click)="searchEntity()" title="Entitäten suchen">
    <mat-icon>search</mat-icon>
  </button>
</ng-template>
