@use "@angular/material" as mat;

:host {
  @include mat.button-toggle-overrides(
    (
      text-color: var(--mat-sys-on-primary),
      selected-state-background-color: var(--mat-sys-secondary),
      selected-state-text-color: var(--mat-sys-on-secondary),
      divider-color: var(--mat-sys-on-primary),
    )
  );
}
