@mixin ngx-mat-datetime-fix() {
  // FIX: https://github.com/h2qutc/angular-material-components/issues/269
  ngx-mat-datetime-content {
    .mat-calendar-arrow {
      border: none !important;
      width: 10px !important;
      height: 5px !important;
    }
    ngx-mat-calendar-header .mat-calendar-arrow {
      border-left: 5px solid transparent !important;
      border-right: 5px solid transparent !important;
      border-top-width: 5px !important;
      border-top-style: solid !important;
      width: 0 !important;
      height: 0 !important;
    }
    ngx-mat-month-view .mat-calendar-body-cell {
      position: relative !important;
    }
    ngx-mat-timepicker {
      input.mat-input-element {
        cursor: default;
      }
      .mat-form-field-underline,
      .mat-form-field-subscript-wrapper,
      .mat-form-field-label-wrapper {
        display: none;
      }
      .mat-form-field-appearance-legacy .mat-form-field-infix {
        padding: 0;
        border-top: 0.2rem solid white;
      }
      .mat-form-field {
        line-height: 1rem;
      }
    }
  }

  // FIX: https://github.com/h2qutc/angular-material-components/issues/295
  button.mat-calendar-body-cell {
    position: absolute;
    height: 100%;
  }

  td.mat-calendar-body-cell {
    position: relative;
    height: 0;
  }

  .mat-calendar-arrow {
    width: 0 !important;
  }
}
