:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-dialog-content.dialog-content {
  position: relative;

  flex: 1;
  min-height: 0;
  color: unset;
}

.linking-entites {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}
