.nav-bar {
  background-color: #005eb7;

  .brand > img {
    vertical-align: middle;
  }

  .nav-bar-links {
    display: flex;
    margin-left: 24px;
    gap: 12px;

    .link {
      position: relative;
      .activ-indicator {
        display: none;
        width: 100%;
        height: 2px;
        position: absolute;
        background-color: currentColor;
        bottom: -4px;
        left: 0;
      }

      &.active {
        font-weight: bold;

        .activ-indicator {
          display: block;
        }
      }
    }
  }

  .nav-bar-controls {
    display: flex;
    gap: 12px;
    align-items: center;
  }
}
